@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'General Sans';
		src: url('/fonts/GeneralSans-Regular.woff2') format('woff2'), url('/fonts/GeneralSans-Regular.woff') format('woff');
		font-weight: 400;
		font-style: normal;
	}
	@font-face {
		font-family: 'General Sans';
		src: url('/fonts/GeneralSans-Light.woff') format('woff2'), url('/fonts/GeneralSans-Light.woff') format('woff');
		font-weight: 300;
		font-style: normal;
	}
	@font-face {
		font-family: 'General Sans';
		src: url('/fonts/GeneralSans-Medium.woff') format('woff2'), url('/fonts/GeneralSans-Medium.woff') format('woff');
		font-weight: 500;
		font-style: normal;
	}
}

@layer utilities {
	.h-screen-small {
		height: 100vh;
		height: 100svh;
	}

	.h-screen-large {
		height: 100vh;
		height: 100lvh;
	}

	.content-area {
		@apply px-6 sm:px-9 md:px-28 lg:px-36 xl:px-48;
	}

	.fade-gradient {
		background-image: url('$lib/graphics/fade-gradient.png');
		background-repeat: repeat-x;
		background-repeat: round;
	}
}
